<?xml version="1.0" encoding="utf-8"?>
<StrategySettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Clients>
		<Client Key="key" Path="c:\QUIK" Login="login" Password="password" Firm="firm" Portfolio="portfolio" />
	</Clients>
	<AdvisorUrl>http://localhost:8080</AdvisorUrl>
	<StartTime>9:55</StartTime>
	<LogPath>/home/vadim/Logs/Trader/{ClientKey}/{Date}.log</LogPath>
</StrategySettings>