<?xml version="1.0" encoding="utf-8"?>
<StrategySettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<LogPath>/home/vadim/Logs/Trader/{ClientKey}/{Date}.log</LogPath>
	<AdvisorInfo IsLive="false" IsLocal="false" Url="http://localhost:8080" />
	<StartTime>9:55</StartTime>
	<StrategyConfigs>
		<StrategyConfig Name="Dual" SecurityCode="Si-3.18" Lever="10" Weight="0.75" Direction="0" />
		<StrategyConfig Name="Dual" SecurityCode="Eu-3.18" Lever="10" Weight="0.25" Direction="0" />
	</StrategyConfigs>
	<Clients>
		<Client Key="kontrabandist" Path="path" Login="login" Password="password" Firm="firm" Portfolio="portfolio" />
	</Clients>
	<HistoryCandleProviderSettings>
		<SecurityCodes>
			<SecurityCode Code="Si-3.18" FinamCode="456115" MfdCode="5943" />
			<SecurityCode Code="Eu-3.18" FinamCode="465376" MfdCode="114755" />
		</SecurityCodes>
	</HistoryCandleProviderSettings>
</StrategySettings>